.thirdSectionBg{
    min-height:300px;
    .thirdSectionContainer{
        font-family: 'IRANSans';
        display: flex;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .imageContainer{
            display: flex;
            justify-content: center;
            padding-left:100px;
            @media only screen and (max-width: 767px) {
                align-items: center;
                padding-left: 0;
            }
            .imageSrc{
                width: 303px;
                height: 426px;
                content:url(../../images/sections/symbol_7.fcdfa094.svg);
                @media only screen and (max-width: 767px) {
                    width: 70%;
                    height: auto;
                }
            }
        }
        .contentContainer{
            display: flex;
            align-items: center;
            @media only screen and (max-width: 767px) {
                justify-content: center;
            }
            .contentContainerText{
                padding-right: 10px;
                text-align: right;
                margin-left:130px;
                border-right:2px solid  #F4F4F4;
                @media only screen and (max-width: 767px) {
                    margin-left: 0;
                }
                h2{
                    margin:0;
                    font-weight: normal;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}