.thirdSectionBg{
    min-height:300px;
    .thirdSectionContainer{
        font-family: 'IRANSans';
        display: flex;
        .imageContainer{
            .imageSrc{
                margin-left:176px;
                width: 303px;
                height: 426px;
                content:url(../../images/sections/symbol_7.fcdfa094.svg);
            }
        }
        .contentContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            .contentContainerText{
                padding-right: 10px;
                text-align: right;
                margin-left:60px;
                border-right:2px solid  #F4F4F4;
                h2{
                    margin:0;
                    font-weight: normal;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}