.menuContainer {
  font-family: 'IRANSans';
  display: flex;
  flex-direction: row-reverse;
  height: 64px;
}

@media only screen and (max-width: 767px) {
  .menuContainer {
    background-image: none;
    background: #7ddc16;
  }
}

.menuContainer .logo {
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuContainer .logo a {
  display: flex;
  align-items: center;
}

.menuContainer .logo .logoSrc {
  width: 48px;
  height: 48px;
  content: url("../../images/logo/logo.6aef0162.svg");
}

.menuContainer .linksContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .menuContainer .linksContainer {
    display: none;
  }
}

.menuContainer .linksContainer ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.menuContainer .linksContainer ul a {
  margin-right: 24px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.menuContainer .linksContainer ul li:first-child a {
  border-bottom: 2px solid #fff;
}
