.menuContainer {
  font-family: 'IRANSans';
  display: flex;
  flex-direction: row-reverse;
    height: 60px;
    .logo{
      padding:16px;
      .logoSrc{
        width:45px;
        height: 45px;
        content: url('../../images/logo/logo.6aef0162.svg');
      }
    }
    .linksContainer{
      ul{
        list-style: none;
        padding-top:6px;
        display: flex;
        flex-direction: row-reverse;
        a{
          margin-right:24px;
          font-size: 14px;
          text-decoration: none;
          color:#fff;
        }
        li:first-child{
         a{
          border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
  