.fourthSectionBg{
    min-height: 300px;
    .fourthSectionContainer{
        font-family: 'IRANSans';
        display: flex;
        flex-direction: row-reverse;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }
        .imageContainer{
            display: flex;
            justify-content: center;
            padding-right: 100px;
            @media only screen and (max-width: 767px) {
                align-items: center;
                padding-right:8px;
            }
            .imageSrc{
                width: 667px;
                height: 364px;
                content: url('../../images/sections/symbol_9.ef1947a8.svg');
                @media only screen and (max-width: 767px) {
                    // width:70%;
                    width:80%;
                    height: auto;
                }
            }
        }
        .contentContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            .contentContainerText{
                padding-right: 10px;
                text-align: right;
                // margin-right:80px;
                border-right:2px solid  #F4F4F4;
                h2{
                    margin:0;
                    font-weight: normal;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}