.fourthSectionBg {
  min-height: 300px;
}

.fourthSectionBg .fourthSectionContainer {
  font-family: 'IRANSans';
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
  .fourthSectionBg .fourthSectionContainer {
    flex-direction: column;
  }
}

.fourthSectionBg .fourthSectionContainer .imageContainer {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}

@media only screen and (max-width: 767px) {
  .fourthSectionBg .fourthSectionContainer .imageContainer {
    align-items: center;
    padding-right: 8px;
  }
}

.fourthSectionBg .fourthSectionContainer .imageContainer .imageSrc {
  width: 667px;
  height: 364px;
  content: url("../../images/sections/symbol_9.ef1947a8.svg");
}

@media only screen and (max-width: 767px) {
  .fourthSectionBg .fourthSectionContainer .imageContainer .imageSrc {
    width: 80%;
    height: auto;
  }
}

.fourthSectionBg .fourthSectionContainer .contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourthSectionBg .fourthSectionContainer .contentContainer .contentContainerText {
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid  #F4F4F4;
}

.fourthSectionBg .fourthSectionContainer .contentContainer .contentContainerText h2 {
  margin: 0;
  font-weight: normal;
}

.fourthSectionBg .fourthSectionContainer .contentContainer .contentContainerText p {
  margin: 0;
  font-size: 14px;
}
