.bg {
  min-height: 746px;
  background-image: url("../../images/sections/symbol_1.03009c5e.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.bg .mainContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 86px;
}

.bg .mainContainer .imageContainer .imageSrc {
  width: 383px;
  height: 445px;
  content: url("../../images/sections/symbol_2.e0c40b3d.svg");
}

.bg .mainContainer .contentContainer {
  margin-right: 80px;
  padding-top: 40px;
  font-family: 'IRANSans';
  color: #fff;
}

.bg .mainContainer .contentContainer .rowOne {
  display: flex;
  flex-direction: row-reverse;
}

.bg .mainContainer .contentContainer .rowOne .numContainer {
  padding-top: 9px;
}

.bg .mainContainer .contentContainer .rowOne .numContainer .numSrc {
  content: url("../../images/sections/symbol_3.cc054296.svg");
}

.bg .mainContainer .contentContainer .rowOne .textContainer .numText {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.bg .mainContainer .contentContainer .rowOne .textContainer .numText h1 {
  margin: 0;
  font-weight: normal;
}

.bg .mainContainer .contentContainer .rowOne .textContainer .numText span {
  font-size: 14px;
  margin-right: 8px;
  margin-top: 8px;
}

.bg .mainContainer .contentContainer .rowTwo {
  margin-top: 30px;
  margin-right: 52px;
}

.bg .mainContainer .contentContainer .rowTwo .downloadtitle {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
}

.bg .mainContainer .contentContainer .rowTwo .downloadtitle h2 {
  margin: 0;
  font-weight: normal;
  margin-right: 4px;
  margin-left: 4px;
}

.bg .mainContainer .contentContainer .rowTwo .downloadtitle span {
  font-size: 14px;
}

.bg .mainContainer .contentContainer .rowTwo .downloadAppLinkContainer {
  display: flex;
  flex-direction: row-reverse;
}

.bg .mainContainer .contentContainer .rowTwo .downloadAppLinkContainer .downloadAppLink {
  width: 50%;
  padding: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #555555;
}

.bg .mainContainer .contentContainer .rowTwo .downloadAppLinkContainer .downloadAppLink a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.bg .mainContainer .contentContainer .rowThree {
  display: flex;
  flex-direction: row-reverse;
}

.bg .mainContainer .contentContainer .rowThree .rowThreeContent {
  margin-top: 10px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg .mainContainer .contentContainer .rowThree .rowThreeContent p {
  margin: 0;
  font-size: 14px;
}
