.secondSectionBg{
    min-height: 300px;
    .SecondSectionContainer{
        font-family: 'IRANSans';
        display: flex;
        flex-direction: row-reverse;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }

        .imageContainer{
            display: flex;
            justify-content: center;
            padding-right: 100px;
            @media only screen and (max-width: 767px) {
                padding-right: 0;
            }
            .imageSrc{
                width:235px;
                height: 321px;
                content: url('../../images/sections/symbol_4.1150d687.svg');
                @media only screen and (max-width: 767px) {
                    width:70%;
                    height: auto;
                    align-items: center;
                }
            }
        }
        .contentContainer{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .contentContainerText{
                padding-right: 10px;
                text-align: right;
                margin-right:20px;
                border-right:2px solid  #F4F4F4;
                h2{
                    margin:0;
                    font-weight: normal;
                }
                p{
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }
}