.secondSectionBg {
  min-height: 300px;
}

.secondSectionBg .SecondSectionContainer {
  font-family: 'IRANSans';
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (max-width: 767px) {
  .secondSectionBg .SecondSectionContainer {
    flex-direction: column;
  }
}

.secondSectionBg .SecondSectionContainer .imageContainer {
  display: flex;
  justify-content: center;
  padding-right: 100px;
}

@media only screen and (max-width: 767px) {
  .secondSectionBg .SecondSectionContainer .imageContainer {
    padding-right: 0;
  }
}

.secondSectionBg .SecondSectionContainer .imageContainer .imageSrc {
  width: 235px;
  height: 321px;
  content: url("../../images/sections/symbol_4.1150d687.svg");
}

@media only screen and (max-width: 767px) {
  .secondSectionBg .SecondSectionContainer .imageContainer .imageSrc {
    width: 70%;
    height: auto;
    align-items: center;
  }
}

.secondSectionBg .SecondSectionContainer .contentContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.secondSectionBg .SecondSectionContainer .contentContainer .contentContainerText {
  padding-right: 10px;
  text-align: right;
  margin-right: 20px;
  border-right: 2px solid  #F4F4F4;
}

.secondSectionBg .SecondSectionContainer .contentContainer .contentContainerText h2 {
  margin: 0;
  font-weight: normal;
}

.secondSectionBg .SecondSectionContainer .contentContainer .contentContainerText p {
  margin: 0;
  font-size: 14px;
}
