.downloadContainer {
  font-family: 'IRANSans';
  padding-top: 20px;
  min-height: 200px;
}

.downloadContainer .downloadTitle {
  display: flex;
  justify-content: center;
  color: #555555;
}

.downloadContainer .downloadTitle h2 {
  font-weight: normal;
}

.downloadContainer .downloadLinkContainer {
  display: flex;
  justify-content: center;
}

.downloadContainer .downloadLinkContainer .bazar {
  padding: 8px;
}

.downloadContainer .downloadLinkContainer .bazar .imageSrc {
  width: 170px;
  height: 50px;
  content: url("../../images/downloadLink/market-cafebazzar.400d691f.svg");
}

.downloadContainer .downloadLinkContainer .sibApp {
  padding: 8px;
}

.downloadContainer .downloadLinkContainer .sibApp .imageSrc {
  width: 170px;
  height: 50px;
  content: url("../../images/downloadLink/market-sibapp.500e3560.svg");
}

.downloadContainer .anotherLink {
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.downloadContainer .anotherLink a {
  text-decoration: none;
  font-size: 14px;
  color: #157DDF;
}
