.downloadContainer{
    font-family: 'IRANSans';
    padding-top: 20px;
    min-height:200px;
    .downloadTitle{
        display: flex;
        justify-content: center;
        color:#555555;
        h2{
            font-weight: normal;
        }  
    }
    .downloadLinkContainer{
        display: flex;
        justify-content: center;
        .bazar{
            padding:8px;
            .imageSrc{
                width: 170px;
                height: 50px;
                content:url('../../images/downloadLink/market-cafebazzar.400d691f.svg');
            }
        }
        .sibApp{
            padding:8px;
            .imageSrc{
                width: 170px;
                height: 50px;
                content:url('../../images/downloadLink/market-sibapp.500e3560.svg');
            }
        }

    }
    .anotherLink{
        display: flex;
        justify-content: center;
        padding-top: 26px;
        a{
            text-decoration: none;
            font-size: 14px;
            color:#157DDF;
            -ms-transition: all .5s ease-in;
            -webkit-transition: all .5s ease-in;
            transition: all 0.5s ease-in;
            &:hover{
                -ms-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
    }
}